<form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)">
  <!--<input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="selectedProfiles.$key">-->
  <div class="form-group">
    <label>Business name</label>
    <input class="form-control" name="businessName" #businessName="ngModel"
           [(ngModel)]="selectedProfiles.businessName" placeholder="Business name" required>
  </div>
  <div class="form-group">
    <label>Location</label>
    <input class="form-control" name="businessLocation" #businessLocation="ngModel"
           [(ngModel)]="selectedProfiles.businessLocation" placeholder="Location">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input class="form-control" name="businessCategory" #businessCategory="ngModel"
           [(ngModel)]="selectedProfiles.businessCategory" placeholder="Category">
  </div>
  <div class="form-group">
    <label>Image</label>
    <input class="form-control" name="businessImage" #businessImage="ngModel"
           [(ngModel)]="selectedProfiles.businessImage" placeholder="Image">
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" [disabled]="!profileForm.valid">
      <i class="fa fa-floppy-o"></i>
      Submit
    </button>
    <button class="btn btn-default" type="button" (click)="resetForm(profileForm)">
      <i class="fa fa-repeat"></i>
      Reset
    </button>
  </div>
</form>
<ul *ngFor="let profile of profiles | async">
  <li>{{profile | json}}</li>
</ul>
