<form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
  <div class="form-group">
    <label>Location</label>
    <input class="form-control" name="businessLocation" #businessLocation="ngModel" [(ngModel)]="currentQuery.businessLocation" placeholder="Location">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input class="form-control" name="businessCategory" #businessCategory="ngModel" [(ngModel)]="currentQuery.businessCategory" placeholder="Category">
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" [disabled]="!searchForm.valid">
      <i class="fa fa-floppy-o"></i>
      Search</button>
  </div>
</form>

<ul *ngFor="let result of results | async">
  <li>{{result | json}}</li>
</ul>
